.root {
  &[data-variant="ecom"] {
    font-weight: 500;
    --button-bg: hsl(var(--primary));
    --button-color: hsl(var(--primary-foreground));
    --button-hover: hsl(var(--primary) / 0.9);
    /* box-shadow: rgba(76, 76, 100, 0.4) 0px 4px 8px -4px; */
  }

  &[data-variant="ecom-light"] {
    font-weight: 500;
    --button-bg: hsl(var(--primary) / 0.1);
    --button-color: hsl(var(--primary));
    &:hover {
      background-color: hsl(var(--primary) / 0.2);
    }
  }

  &[data-variant="ecom-secondary"] {
    font-weight: 500;
    --button-bg: hsl(var(--secondary));
    --button-color: hsl(var(--secondary-foreground));
    &:hover {
      background-color: hsl(var(--foreground) / 0.1);
    }
  }

  &[data-variant="ecom-destructive"] {
    font-weight: 500;
    --button-bg: hsl(var(--destructive));
    --button-color: hsl(var(--destructive-foreground));
    &:hover {
      background-color: hsl(var(--destructive) / 0.9);
    }
  }

  &[data-variant="ecom-outline"] {
    font-weight: 500;
    color: hsl(var(--foreground));
    --button-bg: white;
    --button-bd: calc(0.0625rem * var(--mantine-scale)) solid hsl(var(--border));
    &:hover {
      background-color: rgba(255, 255, 255, 0.653);
    }
  }

  &[data-variant="ecom-ghost"] {
    font-weight: 500;
    color: hsl(var(--foreground));
    --button-bg: hsl(var(--background));
    --button-hover: hsl(var(--secondary));
  }

  &[data-variant="ecom-dark"] {
    --button-bg: #0b1b33;
    color: white;
    --button-hover: hsl(var(--foreground) / 0.9);
  }

  &[data-variant="ecom-dark-outline"] {
    --button-bg: white;
    color: hsl(var(--foreground));
    --button-hover: hsl(var(--primary));
    --button-bd: calc(2 * 0.0625rem * var(--mantine-scale)) solid
      hsl(var(--foreground));
    font-weight: 700;
  }

  &[data-variant="ecom-light-secondary"] {
    font-weight: 500;
    --button-bg: hsl(white);
    --button-color: hsl(var(--primary));
    &:hover {
      background-color: hsl(var(--primary) / 0.4);
    }
  }
}
