.dropdown {
  @mixin dark {
    background-color: hsl(var(--background));
    border-color: hsl(var(--border));
  }
  @mixin light {
    /* background-color: hsl(var(--background)); */
    /* /border-color: hsl(var(--border)); */
    border: 0;
    box-shadow: rgba(76, 76, 100, 0.4) 0px 4px 8px -4px;
  }
}

.item {
  &:hover {
    background: hsl(var(--secondary) / 0.5);
  }
}
