.root {
  &[data-variant="ecom"] {
    .inner > section {
      border: 1px solid hsl(var(--border));
    }

    .header,
    .body {
      background: #fff;
    }

    .header h2 {
      font-weight: 500;
    }
  }
}
