.root {
  &[data-variant="ecom"] {
    @mixin light {
      background: hsl(var(--secondary));
      --sc-color: hsl(var(--background));
    }
    @mixin dark {
      background: hsl(var(--secondary) / 0.4);
      --sc-color: hsl(var(--secondary));
    }
  }

  &[data-variant="ecom-secondary"] {
    @mixin light {
      background: hsl(var(--secondary));
      --sc-color: hsl(var(--background));
    }
    @mixin dark {
      background: hsl(var(--background) / 0.4);
      --sc-color: hsl(var(--secondary));
    }
  }
}
