.root {
  &[data-variant="ecom"] {
    --_input-bd: hsl(var(--border));
    --_input-bg: hsl(var(--background));
    --_input-bd-focus: hsl(var(--primary));
    --_input-disabled-bg: red;
    --_input-disabled-color: red;
  }
}

.input {
  &[data-variant="ecom"] {
    /* TODO: disabled styles */
    /* --_input-disabled-bg: red; */
    /* --_input-disabled-color: red; */
    box-shadow: var(--mantine-shadow-xs);
  }
}

.option {
  &:hover {
    background: hsl(var(--secondary));
  }
}
