.table {
  &[data-variant="ecom"] {
    color: hsl(var(--foreground) / 0.75);
    --table-border-color: hsl(var(--border));
  }
}

.thead {
  overflow: hidden;
  background: hsl(var(--secondary) / 0.85);
  border-radius: 8px;
  top: 4px;
  backdrop-filter: blur(16px);

  tr {
    border: 0;
  }

  th {
    padding-top: var(--mantine-spacing-xs);
    padding-bottom: var(--mantine-spacing-xs);
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }

  th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
